<div id="addBand_modal" class="modal-overlay hidden"> 
    <div class="modal-content">
        <span data-modal="addBand" class="modal-close"><i class="fas fa-times"></i></span>
        <h1 class="modal-content-title"><span class="title-word">Add Band&nbsp;&nbsp;&nbsp;</span><i class="mif-plus"></i></h1>
        <div class="modal-sheets">
            <div class="modal-sheet active" id="add-form">
                <form class="add-form">
                    <div class="form-input-row">                    
                        <input class="add-form-input" type="text" name="name" placeholder="Enter Band Name" required>
                        <input class="add-form-input" type="text" name="genre" placeholder="Enter Band Genre" required>
                    </div>
                    <div class="form-input-row form_links"> 
                        <input class="add-form-input" type="text" name="spotify" placeholder="Enter Spotify URL" required>
                        <input class="add-form-input" type="text" name="cover_url" placeholder="Enter URL for Band Cover" required>
                        <input class="add-form-input" type="text" name="thumbnail_url" placeholder="Enter URL for Thumbnail" required>
                    </div>                        
                    <button class="add-form-btn">Add Band</button> 
                </form>
            </div>
        </div>
    </div>
</div>