<div class="album-collage">
    {{#each IMGs}}
        {{#if this}}
            <div class="album-collage-img" style="background-image:url('./assets/images/{{this}}')"></div>
        {{/if}}
    {{/each}}
</div>  