<div class="bandImages">
    <div class="imgholder" style="background-image:url({{band.cover_url}})"></div>
    <div class="imgholder" style="background-image:url({{band.thumbnail_url}})"></div>
</div>