<div class="header">
    <h1 class="discover_header-title">**Discover**</h1>
    <h3 class="discover_header-subtitle"><span>Facts</span> <span class="separator">|</span> <span>Links</span> <span class="separator">|</span> <span>Songs</span> <span class="separator">|</span> <span>Videos</span></h3>
</div>    