<div class="discover-bandCard-spotify">
    {{#if validSpotifyURL}}
        <iframe src="{{band.spotify}}" frameborder="0" allowtransparency="true"></iframe>
    {{else}}
        No Spotify Playlist
    {{/if}}
</div>