<div id="onlineUsers_side_nav" class="side-nav-overlay hidden">
    <div class="side-nav-content hidden">    
        <div class="onlineUsers-header">
            <div class="onlineUsers-header-title">Online Users</div>
        </div>
        <div class="side-nav-close">Close</div>
        <div class="view_toggle">
            <div class="view_toggle-btn" id="List" data-toggle="shown">List</div>
            <div class="view_toggle-btn" id="Chart" data-toggle="hidden">Charts</div>
        </div>
        <div class="onlineUsers-views">
            <ul class="onlineUsers_list">

            </ul>
            <div class="onlineUsers_charts hidden">
                Coming Soon
                <div id="chartContainer" width="100%" height="50%"></div>
            </div>
        </div>
    </div>
</div>