<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="./assets/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music Talks - Log In</title>
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Bevan|Fredoka+One|Hammersmith+One|Lusitana:700|Monoton|Paytone+One" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/style_login.css">

</head>
<body>
    {{{body}}}
    <!-- <script src="./js/firebase.js"></script> -->
    <script src="./js/login-collage.js"></script>
</body>
</html>