<h1 class="title_login">Music Talks</h1>
<form class="form-login">
    <button class="form-login-btn-google"><i class=""></i>Log in With Google</button>
</form>    
<div class="album-collage">
    {{#each IMGs}}
        <div class="album-collage-img" style="background-image:url('./assets/images/{{this}}')"></div>
    {{/each}}
</div>  