form {
    z-index:1000;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.form-login-btn-google{
    background-color: rgba(219, 50, 54,0.7);
    cursor:pointer;
    font-family: 'Lusitana', serif;
    font-size:3rem;
    color:rgba(255,255,255,0.7);
    padding:1.2rem;
    border-radius:0.5rem;
    outline:none;
    border:none;
    transition:all 0.4s;
}

.form-login-btn-google:hover{
    background-color: rgba(219, 50, 54,1);
    color:rgba(255,255,255,1);
}