.album-collage{
    position:relative;
    margin:-7vw;
    height:110vw;
    width: 110vw;
    background-color:black;
    transition: height 0.3s, width 0.3s;
    padding:0vw;
}

.album-collage-img{
    height:11vw;
    width:11vw;
    margin: 0vw;
    float:left;
    background-position:center;
    background-size:contain;
    background-repeat: no-repeat;
    transition: height 0.3s,width 0.3s,box-shadow 0.2s,transform 0.3s;
    box-shadow: inset 0rem 0rem 20rem rgba(96,125,139,0.5);
}


.album-collage-img:hover {
    transform: scale(1.05);
    z-index:50;
    box-shadow: inset 0rem 0rem 0rem rgba(96,125,139,0.6);
}