.title_login{
    text-shadow: -1px -1px 1px #fdf5e6, 1px 1px 1px #000;
    text-transform: uppercase;
    letter-spacing:0.8rem;
    width:max-content;
    color:rgba(0,77,64,0.7);
    font-family: 'Monoton', serif;
    font-size:5rem;
    padding:2rem;
    background-color: rgba(0,77,64,0.85);
    position: absolute;
    top:15%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius:2px;
    transition: background-color 0.5s,color 0.5s;
    z-index:100;
}