.navigation-bar{
    z-index:1000;
    background-color: rgb(0,77,64);
    position: fixed;
    margin-top:-20vh;
    width:100%;
    max-height:15vh;
    box-shadow:0rem 0.5rem 4rem black;
}

@media (max-width:1100px){
    .navigation-bar.expanded{
        max-height:35vh;
    }
    .navigation-bar{
        overflow:hidden;
        max-height:15vh;
        transition: max-height 0.5s;
    }
}