.navigation-utilities{
    margin-left:0.5rem;
    height:15vh;
    display:flex;
    align-content: center;
    justify-content: space-around;
    float:left;
}

.navigation-utilities-item [class^="mif-"],.navigation-utilities-item [class^="fas"]{
    font-size:2vw;
    color:#eeeeee;
    line-height:15vh;
    transition:all 0.3s;
    cursor: pointer;
}

.navigation-utilities-item [class^="mif-"]:hover,.navigation-utilities-item [class^="fas"]:hover{
    background-color:#eeeeee;
    color:rgb(0,77,64);
    padding:0 3rem;
}

.navigation-utilities-item{
    margin-left:3rem;
}

@media (max-width:1200px){
    .navigation-utilities-item [class^="mif-"]:hover,.navigation-utilities-item [class^="fas"]:hover{
        padding:0rem;
        background-color:rgb(0,77,64);
        color:#eee;
    }    
}


@media (max-width:700px){
    .navigation-utilities{
        width:100%;
        margin-left:0rem;
        height:10vh;
    }
    .navigation-utilities-item {
        margin-left: 0rem;
        
    }
    .navigation-utilities-item [class^="mif-"],.navigation-utilities-item [class^="fas"]{
        font-size:1.5rem;
    }
}